.wrap{
    max-width: 1100px;
    margin: 0 auto;
}
.content{
    display: flex;

}

.item-left{
    width: 330px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e7eeea   ;

    
}
.item-left img {    
    margin-bottom: 40px;
}
.item-left a{
    display: block;
    color: #37523d;
    text-align: center;
    font-size: 25px;
    margin-bottom:35px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.item-left a:hover{
    font-size: 30px;
    color: #1f3d2b;
    background-color: #dfe8e3;
}

.item-right{
    width: 780px;
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    padding-right: 80px;
    padding-top: 50px   ;
}
.item-right h2{
    font-size: 30px;
    color: #37523d;
    margin-bottom:40px;
}
.item-right p{
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 24px;
    color: #2d2d2d;
}