.wrap{
    margin: 0 auto;
    width: 1280px;
}
.content{
    display: flex;
    flex-direction: column ;
    gap: 50px;
    
}


.top{
    min-width: auto;
    display: flex;
    background-color: #e7eeea;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.top-item{
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
}
.top-item h2{
    margin-bottom: 20px;
    margin-left: 10px;
    font-weight: bold;
    color: #4e6754;
}
.top-item p{
    line-height: 1.6;
    margin-left: 10px;
    color: #37523d;
}
.top-item img{
    width: 55px;
    height: 55px;
}


.mid{
    display: flex;
    
    background-color: #e7eeea;
}
.mid-item{
    display: flex;
    flex-direction: column;  
    padding-left: 40px;
    padding-right: 40px; 
}
.mid-item h2{
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
    color: #37523d  ;
}
.mid-item p{
text-align: center;
padding-bottom: 30px;
color: #4e6754;
line-height: 1.6;
}

.mid-item img{
    margin:  10px auto;
    height: 90px;
    width: 95px;
}

.bottom{
    display: flex;
    background-color: #e7eeea;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.bottom-item{
    display: flex;
}
.bottom-item h2{
    padding-top: 60px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.bottom-item p{
    margin-left: 20px;
    color: #4e6754;
}
.bottom-item2 {
    display: flex;
}

.bottom-item2 h2{
    margin-top: 45px;
    margin-bottom: 25px;
    padding-left: 105px;
}
.bottom-item2 p{
    padding-left: 105px;
    margin-right: 10px;
    color:#4e6754;
}
.bottom-item ,.bottom-item2  h2{
    font-weight: bold;
    color: #37523d  ;
}

