.wrap{
   margin: 0 auto;
    width: 857px;
}
.content{
    display: flex;
}
.item-img{
    display: flex;
    flex: 1;
    
}
.item-text{
   background-color: #b3d4d1;
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 60px;

}
.item-text p{
    line-height: 1.8;
    font-size: 20px;
    color: #fff;
}