.wrap{
    margin: 0 auto;
    width: 1200px;
    background-color: #fff;
    
}
.content{
    display: flex;
    justify-content: space-between;
    gap:20px
   
}
.item-left{
   display: flex;
   flex:1;
   background-color: #e7eeea;
   justify-content: center;
   align-items: center;  
   
}

.item-left img{
    margin: auto;
}

.item-right{
    display: flex;
    flex:1;
    background-color: #e7eeea;
    flex-direction:column;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 200px;
    padding-bottom: 200px;
    
}
.item-right h3 {
    color: #37523d;
    font-weight: bold;
    margin-bottom: 40px;
    font-size: 30px;
    
}
.item-right p {
    padding-bottom: 20px;
    font-size: 25px;
    margin-bottom: 40px;
}
