.wrap{
    margin: 0 auto;
    width: 1000px;
}
.content{
    display: flex;
}
.list{
    display: flex;
    flex-direction: column;
}
.list-title{
    width: 300px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid #e7eeea;
     font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-color: #37523d;
}

.list a{
     width: 300px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid #e7eeea;
    color: #37523d;
     font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
.list a:hover{
    background-color: #e7eeea;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 5px;
   
  
}
.menu-item img{
    width: 300px;
    height: 315px;
    
    
}
.buttom a{
    width: 300px;
    height: 85px;
    background-color: #e7eeea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #37523d;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    text-decoration: none;
}

.item-text{
    display: flex;
    justify-content:space-between; 
    margin-right: 20px;
    color: #37523d;
    font-size: 20px;
    
}
.Product-Name{
    height: 65px;
    width: 185px;
    border: 1px solid #e7eeea;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price{
    display: flex;
    width: 115px;
    height: 65px;
    border: 1px solid#e7eeea;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.buttom a:hover{
    color:burlywood;

}