.wrap{
    max-width: 1200px;
    margin: 0 auto;
}

.title{
    display: flex;
    justify-content:right;
    background-color: #f6f6f8;
    padding-right: 40px;
    position: relative;
    padding-top: 10px;
}

.fb,
.twitter{
    margin-right: 5px;
}

.boder{
    height: 15px;
    position: absolute top;
    border: 1px solid #000;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}
.title p a{
    text-decoration: none;
    color: #1DA1F2;  
}
.title p a:hover{
    border-bottom: 2px solid #1DA1F2;
}
.header {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}
.header img{
    margin-left: 20px;
}
.header ul{
    display: flex;
    padding-top: 20px;
}
.header ul li{
   margin-left: 50px;
}
.header ul li a{
    text-decoration: none;
    color: #000
}
.header ul li a:hover{
    border-bottom: 2px solid #1DA1F2;
}
.main img{
    width: 100%;
}
.main{
    position: relative;
}
.main-h2{
    position: absolute;
    top: 20%;
    color: aliceblue;
    font-size: 40px;
    padding-left: 10%;
    line-height: 1.6;
    width: 100%;
    background: rgba(0,0,0,0.2);
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu ul li h2{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}
.menu ul{  
    display: flex; 
    width: 1200px;
    margin: 0 auto;;
    padding-left: 10px;
    padding-right: 10px;
}
.menu  ul li{
    box-shadow: 3px 3px 10px gray  ;
    width: 380px;
    padding: 20px;
    margin:  0 auto;
    margin-top: 20px;
    margin-right: 20px
}


.menu p{
    line-height: 1.6;
}
.table h2{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 26px;
}
.table{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.table th{
    text-align: left;
    padding-left: 50px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    background-color: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table td{
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
}

.material{
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    background:linear-gradient(#00644b,#009771);
    position: relative;
}
.material h2{
    color: #fff;
    text-align: center;
    padding-top: 20px;
    font-size: 26px;
}
.content-item{
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    color: #fff;
}
.item{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 5px;
}
.item p{
    margin-bottom: 5px;
}
.name,
.email,
.phone{
    margin-bottom: 45px;
    padding: 5px;
}
.message{
    width: 50%;
    height: 300px;
    margin-bottom: 40px
}
.sub{
    position: absolute;
    right: 4%;
    bottom: 12%;
    width: 75px;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-between;;
    margin-bottom: 40px;
}
.footer-text{
    margin-top: 20px;
    color: #ef90bc;
    padding-right: 80px;
    line-height: 1.6;
}
.footer img{
    color: #949494;
    padding-left:60px;
    height: 50px;
    margin-top: 10px;
    
}